<div class="social-links">
    <a href="https://mas.to/@davidlattimore" target="_blank" rel="noopener noreferrer">
        <img src="/images/social/mastodon.svg">
    </a>
    <a href="https://github.com/davidlattimore" target="_blank" rel="noopener noreferrer">
        <img src="/images/social/github-mark-white.svg">
    </a>
    <a href="mailto:dvdlttmr@gmail.com" target="_blank">
        <img src="/images/social/email.svg">
    </a>
    <a href="/feed.xml" target="_blank">
        <img src="/images/social/rss.svg">
    </a>
</div>